{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">SMIS - Pendaftaran Pelajar</h2>
        <hr>

        <form action="/submit" method="POST"
            onsubmit="return confirm('Adakah anda pasti maklumat profil pelajar ini adalah betul sebelum menghantar?');">
            <div class="well" style="background-color: #f9f9f9; border-left: 5px solid #337ab7;">
                <div class="form-group" style="margin-bottom: 0;">
                    <label for="no_kp_pelajar">No. Kad Pengenalan (Identiti Disahkan)</label>
                    <input type="text" name="no_kp_pelajar" id="no_kp_pelajar" class="form-control input-lg"
                        value="{{ verified_kp }}" readonly
                        style="background-color: #eee; cursor: not-allowed; font-weight: bold;">
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Maklumat Pelajar</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nama Penuh</label>
                            <input type="text" name="nama_pelajar" class="form-control"
                                value="{{ student.nama_pelajar if student else '' }}" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control"
                                value="{{ student.email if student else '' }}" required>
                        </div>
                        
                    <div class="col-md-4 form-group">
                        <label>Kelas</label>
                        <select name="kelas" class="form-control" required>
                            <option value="">-- Pilih Kelas --</option>
                            {% for prefix in ['A', 'B'] %}
                            {% for i in range(1, 16) %}
                            {% set class_name = prefix ~ i %}
                            <option value="{{ class_name }}" {{ 'selected' if student and student.kelas==class_name else '' }}>
                                {{ class_name }}
                            </option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Jantina</label>
                            <select name="jantina" class="form-control" required>
                                <option value="" disabled {{ 'selected' if not student else '' }}>Pilih Jantina</option>
                                <option value="LELAKI" {{ 'selected' if student and student.jantina=='LELAKI' else ''
                                    }}>Lelaki</option>
                                <option value="PEREMPUAN" {{ 'selected' if student and student.jantina=='PEREMPUAN'
                                    else '' }}>Perempuan</option>
                            </select>
                        </div>
                    <div class="col-md-4 form-group">
                        <label>Bangsa</label>
                        <select name="bangsa" class="form-control" required>
                            <option value="">-- Sila Pilih --</option>
                            <option value="MELAYU" {{ 'selected' if student and student.bangsa=='MELAYU' else '' }}>Melayu</option>
                            <option value="CINA" {{ 'selected' if student and student.bangsa=='CINA' else '' }}>Cina</option>
                            <option value="INDIA" {{ 'selected' if student and student.bangsa=='INDIA' else '' }}>India</option>
                            <option value="SABAH/SARAWAK" {{ 'selected' if student and student.bangsa=='SABAH/SARAWAK' else '' }}>Sabah /
                                Sarawak</option>
                            <option value="BUKAN WARGANEGARA" {{ 'selected' if student and student.bangsa=='BUKAN WARGANEGARA' else '' }}>
                                Bukan Warganegara</option>
                        </select>
                    </div>
                        <div class="col-md-4 form-group">
                            <label>Agama</label>
                            <select name="agama" class="form-control" required>
                                <option value="" disabled {{ 'selected' if not student else '' }}>Pilih Agama</option>
                                <option value="ISLAM" {{ 'selected' if student and student.agama=='ISLAM' else '' }}>
                                    Islam</option>
                                <option value="BUDDHA" {{ 'selected' if student and student.agama=='BUDDHA' else '' }}>
                                    Buddha</option>
                                <option value="HINDU" {{ 'selected' if student and student.agama=='HINDU' else '' }}>
                                    Hindu</option>
                                <option value="KRISTIAN" {{ 'selected' if student and student.agama=='KRISTIAN' else ''
                                    }}>Kristian</option>
                                <option value="SIKH" {{ 'selected' if student and student.agama=='SIKH' else '' }}>Sikh
                                </option>
                                <option value="LAIN-LAIN" {{ 'selected' if student and student.agama=='LAIN-LAIN'
                                    else '' }}>Lain-lain</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Tarikh Lahir</label>
                            <input type="date" name="tarikh_lahir" class="form-control"
                                value="{{ student.tarikh_lahir if student else '' }}" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>No. Telefon</label>
                            <input type="text" name="telefonNo" class="form-control"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                value="{{ student.telefonNo if student else '' }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Alamat Rumah</label>
                        <textarea name="alamat_rumah" class="form-control" rows="3"
                            required>{{ student.alamat_rumah if student else '' }}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Cara Datang Sekolah</label>
                            <select name="cara_datang_sekolah" class="form-control" required>
                                <option value="" disabled {{ 'selected' if not student else '' }}>Pilih Cara</option>
                                <option value="JALAN" {{ 'selected' if student and student.cara_datang_sekolah=='JALAN'
                                    else '' }}>Jalan Kaki</option>
                                <option value="KERETA" {{ 'selected' if student and
                                    student.cara_datang_sekolah=='KERETA' else '' }}>Kereta</option>
                                <option value="MOTOR" {{ 'selected' if student and student.cara_datang_sekolah=='MOTOR'
                                    else '' }}>Motosikal</option>
                                <option value="BASIKAL" {{ 'selected' if student and
                                    student.cara_datang_sekolah=='BASIKAL' else '' }}>Basikal</option>
                                <option value="BAS" {{ 'selected' if student and student.cara_datang_sekolah=='BAS'
                                    else '' }}>Bas</option>
                                <option value="LAIN-LAIN" {{ 'selected' if student and
                                    student.cara_datang_sekolah=='LAIN-LAIN' else '' }}>Lain-lain</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Tarikh Tamat Sekolah</label>
                            <input type="date" name="sekolah_tamat" class="form-control"
                                value="{{ student.sekolah_tamat if student else '' }}" required>
                        </div>

                        <div class="col-md-4 form-group">
                            <div class="col-md-6 form-group">
                                <label>Status OKU</label>
                                <select name="status_oku" class="form-control" required>
                                    <option value="TIDAK" {{ 'selected' if student and student.status_oku=='TIDAK' else '' }}>Tidak</option>
                                    <option value="YA" {{ 'selected' if student and student.status_oku=='YA' else '' }}>Ya</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Masalah Kesihatan</label>
                        <textarea name="masalah_kesihatan" class="form-control" rows="2"
                            placeholder="Nyatakan jika ada... (Tulis 'TIADA' jika tiada)"
                            required>{{ student.masalah_kesihatan if student else '' }}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Tempat Lahir</label>
                            <input type="text" name="tempat_lahir" class="form-control" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>No. Sijil Kelahiran / Surat Beranak</label>
                            <input type="text" name="no_surat_beranak" class="form-control" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Keadaan Mata</label>
                            <select name="keadaan_mata" class="form-control" required>
                                <option value="">-- Pilih --</option>
                                <option value="BAIK">Baik</option>
                                <option value="KURANG BAIK">Kurang Baik</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Aliran Dipohon</label>
                            <select name="aliran_dipohon" class="form-control" required>
                                <option value="">-- Pilih Aliran --</option>
                                <option value="SAINS">Sains</option>
                                <option value="SAINS SOSIAL">Sains Sosial</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block btn-lg">
                {{ 'Kemaskini Pendaftaran' if student else 'Hantar Pendaftaran Baru' }}
            </button>
        </form>
    </div>
</div>
{% endblock %}